.logo{
    width: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    border:2px solid black;
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
}
.nav-items>ul>li{
    padding: 10px;
}
.cards{
    width: 15rem;
    /* border: 1px solid black; */
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    
    padding: 10px;
}
.cards>img{
    width: 100%;
}
.cardList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8rem;
    background-color: #ffffff;
  
}
.location{
    color: rgb(107, 108, 108);
    font-weight: lighter;
    line-height: 15px;
}
.search-container{
    margin-left: 74rem;
}

  
.shimmer {
  margin-top: 55px;
  margin: 8px;
  width: 15rem;
  height: 10rem;
  background: linear-gradient(
    to right,
    rgba(212, 212, 212, 0.756) 0%,
    rgba(236, 235, 235, 0.829) 20%,
    rgba(212, 212, 212, 0.756) 40%
  );
  background-size: 600% 100%;
  animation: shimmer 2s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
.main{
  font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
  margin-left: 25rem;
}
.location2{
  color: rgb(107, 108, 108);
    font-weight: lighter;
    line-height: 1px;
}
.menu{
  margin-top: 5rem;
  margin-left: 25rem;
}

 
 
  