.logo{
    width: 200px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    border:2px solid black;
}

.nav-items>ul{
    list-style-type: none;
    display: flex;
}
.nav-items>ul>li{
    padding: 10px;
}
.cards{
    width: 15rem;
    /* border: 1px solid black; */
    font-family: ProximaNova,arial,Helvetica Neue,sans-serif;
    
    padding: 10px;
}
.cards>img{
    width: 100%;
}
.cardList{
    display: flex;
    flex-wrap: wrap;
    margin-left: 8rem;
  
}
.location{
    color: rgb(107, 108, 108);
    font-weight: lighter;
}
.search-container{
    margin-left: 74rem;
}
.box {
    width: 100%;
    height: 600px;
    background-color: #ffffff;
    position: relative;
  }
  
  .shimmer {
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 200px;
    background-color: rgb(234, 234, 234);
    animation: shimmer 0.4s infinite;
  }
  .shimmer2 {
    position: absolute;
    margin-top: 300px;
    left: -50%;
    width: 50%;
    height: 200px;
    background-color: rgb(234, 234, 234);
    animation: shimmer 0.6s infinite;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  